/**
* admin_forms.css
**/

/* ---------
Buttons
--------- */
.adm-button {
	box-shadow: 3px 4px 0px 0px #899599;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color: #ededed;
	border-radius: 5px;
	border: 1px solid #d6bcd6;
	display: inline-block;
	cursor: pointer;
	color: #1D444E;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	min-width: 100px;
	width: auto;
	height: 25px;
	padding: 5px
}

.adm-button:hover {
	background: linear-gradient(to bottom, #bab1ba 5%, #ededed 100%);
	background-color: #bab1ba;
}

.adm-button:active {
	position: relative;
	top: 1px;
}


/* ---------
Selects
--------- */
select, select#sk, select#sd, select#fc, select#fb {
	border: 1px solid #AAA;
	border-radius: 5px;
	color: #1D444E;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	font-size: inherit;
	margin: 5px;
	overflow: hidden;
	padding: 5px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	min-width: 100px;
	width: auto;
}

select#sk, select#sd, select#fc, select#fb {
	box-shadow: 3px 4px 0px 0px #899599;
	height: 25px;
}


/* ---------
Text
--------- */
.textbox, .textbox2 {
    padding: 1px 10px;
    border: 0;
    height: 20px;
    width: auto;
    border-radius: 5px;
    outline: 0;
}

.textbox {
    box-shadow: 1px 1px 0 0 #FFF, 5px 5px 40px 2px #BBB inset;
}


/* ----------
Radio buttons
---------- */
input[type=radio] {
    display: none;
}

input[type=radio] + label {
    display: inline-block;
    margin: -1px;
    padding: 1px 10px;
    margin-bottom: 0;
    font-family: Arial;
	font-size: 12px;
    line-height: 20px;
    color: #000000;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #C8C7C4;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
	border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type=radio]:checked + label{
    background-image: none;
    outline: 0;
	font-weight: bold;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	color:#FFFFFF;
}

input[type=radio]:checked + label[class=set] {
    background-color: #429f21;
}

input[type=radio]:checked + label[class=unset] {
    background-color: #FF3D3D;
}


/* ----------
Checkbox
---------- */
.checkbox {
    display:inline-block;
    position:relative;
    text-align:left;
    width:50px;
    height:20px;
    background-color: #FFFFFF;
    overflow:hidden;
    box-shadow:inset 0 10px 25px rgba(0,0,0, .5), 0px 1px 2px #fff;
    border-radius:20px;
}

.checkbox input {
    display:block;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    width:100%;
    height:auto;
    margin:0 0;
    cursor:pointer;
    opacity:0;
    z-index:2;
}

.checkbox label {
    background-color:#FF3D3D;
    background-image:linear-gradient(-40deg,rgba(0,0,0,0),rgba(255,255,255,0.1),rgba(0,0,0,0.2));
    box-shadow:0 0 0 1px rgba(0,0,0,0.1),0 1px 2px rgba(0,0,0,0.7);
    border-radius:20px;
    display:inline-block;
    width:20px;
    text-align:center;
    font:bold 13px/normal Arial, Sans-Serif;
    color:#000000;
    text-shadow:0 -1px 0 rgba(0,0,0,0.7);
    transition:margin-left 0.2s ease-in-out;
    margin:1px;
}

.checkbox label:before {
    content:attr(data-off);
}

.checkbox input:checked + label {
    margin-left:28px;
    background-color: #429f21;
    color:#FFFFFF;
}

.checkbox input:checked + label:before {
    content:attr(data-on);
}


/* ---------
Label
--------- */
dd label{
	margin-left:10px;
}


/* ---------
Pagination
--------- */
.pagination li a, .pagnation li span, li .pagination li a, li .pagnation li span, .pagination li.active span, .pagination li.ellipsis span {
	box-shadow: 3px 4px 0px 0px #899599;
	background: linear-gradient(to bottom, #ededed 5%, #bab1ba 100%);
	background-color: #ededed;
	border-radius: 5px;
	border: 1px solid #d6bcd6;
	color: #1D444E;
	font-size: 12px;
	font-weight: bold;
}

.pagination li.active span {
	color: #FFFFFF;
	background: linear-gradient(to bottom, #99CC00 5%, #336600 100%);
}
