{% include '@' ~ NAMESPACE ~ '/head_panel.html' %}

<form id="resetlogin" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{{ lang('RESET_LOGIN') }}</legend>
		<dl>
			<dt><label for="reset_username">{{ lang('USERNAME') }}{{ lang('COLON') }}</label><br><span>{{ lang('USER_EXPLAIN') }}</span></dt>
			<dd>
				<input class="textbox" type="text" id="reset_username" name="reset_username" value="{RESET_USERNAME}" />
			</dd>
			<dd>
				[ <a href="{{ U_RESET_USERNAME }}" onclick="find_username(this.href); return false;">{{ lang('USERNAME') }}</a> ]
			</dd>
		</dl>
	</fieldset>

	<fieldset>
		<legend>{{ lang('ACP_SUBMIT_CHANGES') }}</legend>
		<p class="submit-buttons">
			<input class="adm-button" type="submit" id="submit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="adm-button" type="reset" id="reset" name="reset" value="{{ lang('RESET') }}" />
		</p>
		{{ S_FORM_TOKEN }}
	</fieldset>
</form>

{% include '@' ~ NAMESPACE ~ '/donate.html' %}
